.pieChart {
  width: 20vw;
  height: 20vw;
  min-width: 200px;
  min-height: 200px;
  max-width: 258px;
  max-height: 263px;
  border-radius: 5px;
  background-color: #fbfbfb;
  border-radius: 5px;
  font-size: 15px;
  &__value {
    font-size: 2em;
    font-weight: 500;
    fill: #282d30;
    text-anchor: middle;
  }
  &__text {
    font-size: 1em;
    font-weight: 400;
    fill: #282d30;
    text-anchor: middle;
  }
}