@import "src/styles/variables";

.lineChart{
  width: 200px;
  height: 200px;
  border-radius: 5px;
  background-color: $secondary-color;
  @media screen and (min-width: 1280px){
    width: 258px;
    height: 263px;
  }
  &__tooltip {
    background-color: #ffffff;
    color: $secondary-color;
    padding: 10px;
  }
  &__text{
    font-size: 1.1em;
    opacity: 0.5;
    fill: #fff;
  }
}