@import "src/styles/variables";

.lineChart{
  width: 20vw;
  height: 20vw;
  min-width: 200px;
  min-height: 200px;
  max-width: 258px;
  max-height: 263px;
  border-radius: 5px;
  background-color: $secondary-color;
  &__tooltip {
    padding: 10px;
    background-color: #ffffff;
    font-size: 0.8em;
    color: #000;
  }
  &__text{
    font-size: 0.8em;
    @media screen and (min-width: 1280px){
      font-size: 1.1em;
    }
    opacity: 0.5;
    fill: #fff;
  }
}