.pieChart {
  width: 258px;
  height: 263px;
  background-color: #fbfbfb;
  border-radius: 5px;
  font-size: 15px;
  &__value {
    font-size: 2em;
    font-weight: 500;
    fill: #282d30;
    text-anchor: middle;
  }
  &__text {
    font-size: 1em;
    font-weight: 400;
    fill: #282d30;
    text-anchor: middle;
  }
}