@import "src/styles/variables";

.sidebar{
  display: flex;
  justify-content: center;
  width: 117px;
  height: 100%;
  background-color: $primary-color;
  &__list{
    display: flex;
    flex-direction: column;
    justify-content: center ;
  }
  &__item{
    margin: 10px 0;
    cursor: pointer;
  }
}